body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
  }
  .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 20px;
}
.navbar-center a {
  text-decoration: none;
  color:#4CAF50;
  font-weight: bold;
}
.navbar-center a:hover {
  color: #2a652c; /* warna saat hover, lebih gelap */
}
 button {
    color: black;
    background-color: #f1c40f;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
  }

.navbar-left img {
  height: 60px;
  margin-right: 15px;
}
header {
    background: white;
    border-bottom: 1px solid #ddd;
    position: fixed;      /* Bikin nempel di layar */
    top: 0;               /* Nempel ke atas */
    width: 100%;          /* Biar selebar layar */
    z-index: 1000;        /* Biar nggak ketiban elemen lain */
  }
  
.navbar-left h1 {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.navbar-left span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

.navbar-right a {
  margin-left: 20px;
  text-decoration: none;
  color: darkred;
  font-weight: bold;
}
  h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
  }
  
  .artikel {
    max-width: 800px;
    margin: 0 auto 20px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .artikel h2 {
    margin-top: 0;
    color: #333;
  }
  
  .artikel p {
    line-height: 1.6;
  }
  
  .artikel small {
    display: block;
    margin-top: 10px;
    color: #1668c5;
    font-style: italic;
  }